body {

}
/*container*/
#container {
    display: flex;
    flex-direction: ;
    border: 2px solid blue;
    max-width: 100vw;
    height: 95vh;

}
/*side navigation*/
.side {
    padding: 2em;
    border: 2px solid #adff2f;
    width: 20vw;
}
ul {
    list-style: none;
    margin: 4em 0;
    padding-inline-start: 0;
    margin-left: -0.5em;
}
li {
    padding: 0.5em;
    background-color: brown;
    border: 2px solid white;
    color: white;
    font-size: 1.5rem;
}


/*main*/

.main {
    padding: 1em;
    border: 2px solid greenyellow;
    width: 70vw;
    

}
.salute {
    margin-top: 2em;
    font-size: 3em;

}
.tagline {
    font-size: 3em;

}
.work {
    margin-top: 4em;
    
}
.hire {


}
button {
    padding: 1em;
    margin: 2px;
    border-radius: 8px;

}