* {
    padding: 0;
    margin: 0;

}
/*containers*/
#container {
    display: flex;
    flex-direction: column;
}

.homepage, .about {
    
    display: flex;
    border: 2px solid blue;
    max-width: 100vw;
    height: 95vh;

}
/*side navigation*/
.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0.4em;
    background-color: rgb(214, 178, 178);
    width: 45px;
    height: 83vh;
    font-size: 30px;
}
.nav {
    align-self: center;
    position: relative;
    
    cursor: auto;
    left: 0;
}
.nav.active {
    background-color: rgb(214, 178, 178);
    left: -20px;
}
.nav:hover {
    left: -90px;
    transition: all 0.9s ease;
}
.label {
    position: relative;
    left: 90px;
    top: 0;
    right: 0;
    
    color:rgb(37, 107, 55);
    padding-left: 
    background-color: rgb(214, 178, 178);
}
.icon {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgb(214, 178, 178);
    width:
}


/*main*/

.main {
    padding: 1em;
    border: 2px solid greenyellow;
    width: 70vw;
    

}
.salute {
    margin-top: 2em;
    font-size: 3em;

}
.tagline {
    font-size: 3em;

}
.work {
    margin-top: 4em;
    
}
  {


}
button {
    padding: 1em;
    margin: 2px;
    border-radius: 8px;

}